@media(max-width:1399px){
    .heroSection {
        background-image: url(../images/image1.svg);
        background-size: cover;
        height: 100vh;
    }
    .hero.container {
        padding: 125px 0 50px 0px;

    }

    .foresome img {
        max-width: 75%;
    }

    .heroInfo h2 {
        font-weight: 600;
        font-size: 43px;
        line-height: 50px;

        padding: 0 144px;
    }


}